body, html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    position: relative;
    background-color: #1b1b1b;
    background-image: linear-gradient(148deg, rgba(15, 15, 15,0.04) 0%, rgba(15, 15, 15,0.04) 35%,rgba(113, 113, 113,0.04) 35%, rgba(113, 113, 113,0.04) 42%,rgba(210, 210, 210,0.04) 42%, rgba(210, 210, 210,0.04) 100%),linear-gradient(70deg, rgba(15, 15, 15,0.04) 0%, rgba(15, 15, 15,0.04) 25%,rgba(113, 113, 113,0.04) 25%, rgba(113, 113, 113,0.04) 30%,rgba(210, 210, 210,0.04) 30%, rgba(210, 210, 210,0.04) 100%),linear-gradient(65deg, rgba(15, 15, 15,0.04) 0%, rgba(15, 15, 15,0.04) 13%,rgba(113, 113, 113,0.04) 13%, rgba(113, 113, 113,0.04) 27%,rgba(210, 210, 210,0.04) 27%, rgba(210, 210, 210,0.04) 100%),linear-gradient(90deg, rgb(27,27,27),rgb(27,27,27));
    background-attachment: fixed;
    font-family: "Jura", sans-serif;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
}

.navbar-brand-logo img{
    width: 50px;
}

.navbar-brand-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.user-wrap{
    margin: 0 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.offcanvas {
    background-color: #212529;
    color: white;
}

.offcanvas-body{
    padding: 0;
}

.list-group{
    border-radius:0;
}

.list-group button{
    background-color: #212529;
    color: white;
    border-color: #212529;
    border-bottom: 1px solid #3f3f3f;
}

.list-group button:first-child{
    border-top: 1px solid #3f3f3f;
}

.list-group button:hover{
    background-color: #2e3236;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    padding: 70px 10px 30px 0;
    display: grid;
    grid-template-columns: 20% 1fr;
    width: 90%;
}

article{
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 10px;
    padding: 10px;
}

aside{
    grid-column: 1;
    grid-row: 2;
    background-color: rgba(47, 51, 55, 0.3);
    border-right: 1px solid #3f3f3f;
    padding: 10px;
}

.smth3{
    background-color: lightcoral;
    grid-column: 1/4;
    grid-row: 3;
}

footer{
    background: radial-gradient(ellipse at 100% 0%, rgba(35, 39, 43, 1) 0%, rgba(33, 37, 41, 1) 100%);
    border-top: 1px solid #3f3f3f;
    color: #D1CDCD;
    padding: 10px 20% 0 20%;
}

.events-info{
    width: 500px;
    box-shadow: 0px 0px 5px black;
}

.events-carousel{
    width: 100%;
}

.events-info-bottom{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
}

.events-info-btn {
    width: 33.33%;
    background-color: #232a30;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    border-right: 1px solid #505f6c;
    box-shadow: inset 0px 0px 2px black;
}

.events-info-btn:last-child {
    border-right: none;
}

.events-info-btn:hover{
    background-color: #161a1f;
    color:white;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.image-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
    pointer-events: none;
}

.news-block-title{
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: white;
    background: linear-gradient(90deg, rgba(34, 38, 43, 1) 0%, rgba(34, 38, 43, 0) 100%);
    height: 40px;
    border-radius: 4px;
    margin-left: 10px;
}

#recent-news{
    font-size: calc(18px + 13 * (100vw / 1920));
}

#later-news{
    font-size: calc(15px + 10 * (100vw / 1920));
    height: 40px;
}

.news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
    padding-left: 10px;
}

.news-col {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
}

.news-block {
    border: 1px solid #3f3f3f;
    padding: 10px;
    text-align: center;
    background: radial-gradient(ellipse at 100% 0%, rgba(35, 39, 43, 1) 0%, rgba(33, 37, 41, 1) 100%);
    color: white;
    border-radius: 15px;
    transition: 0.5s, 0.5s;
}

.news-block:hover{
    transform: scale(1.03, 1.03);
}

.news-title{
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Roboto Condensed;
}

.news-text{
    margin-top: 10px;
    font-family: Akshar;
    color: rgb(219, 217, 217);
}

.news-block img{
    width: 100%;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
}

blockquote{
    background-color: #2c2f32;
    border-radius:10px;
    padding: 5px;
}

.later-news-block{
    display: flex;
    align-items: center;
    padding-left: 1%;
    color: white;
    background: linear-gradient(90deg, rgba(34, 38, 43, 1) 0%, rgba(34, 38, 43, 0) 100%);
    height: 45px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
    transition: 0.5s, 0.5s;
}

.later-news-block:hover{
    transform: scale(1.03, 1.03);
}

.later-news-logo img{
    width: 20px;
}

.later-news-text{
    margin-left: 10px;
}

.matches{
    background: radial-gradient(ellipse at 100% 0%, rgba(35, 39, 43, 1) 0%, rgba(33, 37, 41, 1) 100%);
    color: white;
    height: fit-content;
    border-radius: 4px;
    border: 1px solid #3f3f3f;
    margin-top: 60px;
}

.matches-title{
    margin: 10px 0 0 0;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(14px + 9 * (100vw / 1920));
    border-bottom: 2px solid #3f3f3f;
    background-color: #22262B;
}

.matches-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.match{
    display: flex;
    flex-direction: row;
    padding: 5px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.matches-link {
    position: relative;
}

.matches-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    border-bottom: 1px solid #3f3f3f;
}

.matches-link:nth-last-child(1)::after {
    content: none;
}

.matches-link:hover{
    background-color: #292D30;
}

.matches-team-rows{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.matches-team-logo img{
    width: 25px;
}

.matches-team-name{
    font-size: calc(11px + 9 * (100vw / 1920));
}

.match-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
}

.match-score{
    display: flex;
    flex-direction: row;
}

.win{
    color: rgb(20, 179, 20);
}

.loose{
    color: #cb0c0c;
}

.button-a {
    display: flex;
    font-size: 16px;
    color: white;
    background-color: #303539;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #303539;
    transition: background-color 0.3s, border-color 0.3s;
    width: 100%;
    height: 30px;
}

.button-a:hover {
    background-color: #292D30;
    border-color: #292D30;
}

.ranking{
    background: radial-gradient(ellipse at 100% 0%, rgba(35, 39, 43, 1) 0%, rgba(33, 37, 41, 1) 100%);
    color: white;
    height: fit-content;
    border-radius: 4px;
    border: 1px solid #3f3f3f;
    margin-top: 50px;
}

.ranking-title{
    margin: 10px 0 0 0;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(14px + 9 * (100vw / 1920));
    border-bottom: 2px solid #3f3f3f;
    background-color: #22262B;
}

.ranking-teams-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.ranked-team{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    transition: 0.5s, 0.5s;
}

.ranked-team:hover{
    transform: scale(1.03, 1.03);
}

.ranked-team-place{
    margin-left: 10px;
}

.ranked-team-info{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.ranked-team-logo img{
    width: 25px;
}

.ranked-team-name{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;
}

.first{
    font-size: calc(11px + 18 * (100vw / 1920));
    background: linear-gradient(90deg, rgba(255, 215, 0, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
}

.second{
    font-size: calc(10px + 15 * (100vw / 1920));
    background: linear-gradient(90deg, rgba(192, 192, 192, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    margin-left: 2%;
}

.third{
    font-size: calc(9px + 11 * (100vw / 1920));
    background: linear-gradient(90deg, rgba(184, 127, 13, 0.30) 0%, rgba(255, 255, 255, 0) 100%);
    margin-left: 4%;
}

.other{
    background: linear-gradient(90deg, rgba(67, 71, 75, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    margin-left: 6%;
}

.footer-text{
    font-size: calc(10px + 7 * (100vw / 1920));
}

@media (max-width:863px){
    section {
        grid-template-columns: 30% 1fr;
        grid-template-rows: auto auto auto auto auto;
    }
    header {grid-column: 1 / 3;}
    aside {grid-column: 1 / 2; grid-row: 2;}
    article {grid-column: 2 / 3; grid-row: 2;}
    .ranking {grid-column: 1 / 3; grid-row: 3;}
    footer{grid-column: 1 / 3;grid-row: 6;}

    .news-container{
        width: 100%;
        padding-left: 5%;
    }

    .news-title{
        font-size: calc(9px + 10 * (100vw / 1920));
    }
    
    .news-text{
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    section {
        display: flex;
        flex-direction: column;
    }

    article,
    .mathces,
    .smth3,
    footer {
        grid-column: auto;
        grid-row: auto;
    }
    .mathces {order: 1;}
    article {order: 2;}

    .ranking{
        display: none;
    }

    .news-container{
        width: 100%;
        padding: 0;
    }

    .news-block-title,
    .later-news-block{
        margin-left: 0;
    }

    .matches{
        margin-top: 10px;
    }

    .matches-list{
        height: 120px;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }

    .match{
        width: 200px;
    }

    .matches-link::after {
        border: none;
    }

}
